@import "@scss/variables";

.wrapper__records {
  padding: 15px 75px 35px 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 970px 100px;
}

.records {
  display: grid;
  column-gap: 20px;
  row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));

  &__spin {
    display: flex;
    justify-content: center;
  }

  &__link {
    text-decoration-line: underline;
    color: $blue;
  }

  &__more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;
  }
}
