@import "@scss/variables";

.nav {
  //   display: flex;
  //   flex-direction: column;

  &__logo {
    display: flex;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
  }

  &__wrapper {
    // display: flex;
    // flex-direction: column;
    // gap: 307px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    &__list:first-child {
      gap: 0px;
    }
  }

  &__link:last-child {
    margin-top: 159%;
  }

  &__img {
    margin-left: 20px;
    margin-top: -16px;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 14px 20px;
    gap: 14px;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: $colorText;
      color: $purple;
    }

    &:hover svg path {
      fill: $purple;
    }

    &:hover img  {
      filter: grayscale(blue);
      // background: blue;
    }
  }
}
